body{
margin:0;
font-family:Arial;
}

#toolbar{
height:60px;
background:#222;
color:white;
padding:8px;
display:flex;
align-items:center;
gap:6px;
}

#container{
display:flex;
height:calc(100vh - 60px);
}

#map{
flex:3;
}

#sidePanel{
flex:1;
background:#f4f4f4;
padding:10px;
overflow:auto;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
border:1px solid #ccc;
padding:4px;
text-align:center;
}

.colorBox{
width:12px;
height:12px;
display:inline-block;
margin-right:4px;
}
